/* Here is your custom css styles. */
.ciallo{
    -moz-user-select: none; /*火狐*//*选中文字时避免出现蓝色背景*/
    -webkit-user-select: none; /*webkit浏览器*//*选中文字时避免出现蓝色背景*/
    -ms-user-select: none; /*IE10*//*选中文字时避免出现蓝色背景*/
    user-select: none;/*选中文字时避免出现蓝色背景*/
}